!!!
html
  head
    meta(charset="utf-8")
    style(type="text/css")
      .hn-button {
        
      }

  body
    a.hn-button(
      onclick="parent.postMessage(this.getAttribute('data-action'), '*')",
      href= href, 
      data-action= action
      target="_blank")= text
    if count
      span.hn-button-count= count